# _**DataFrame**_

In [1]:
import numpy as np
import pandas as pd

In [8]:
from numpy.random import randn
np.random.seed(101)

In [12]:
df=pd.DataFrame(randn(5,4),columns=['a','b','c','d'],index=['a','b','c','d','e'])

In [13]:
df

          a         b         c         d
a -0.993263  0.196800 -1.136645  0.000366
b  1.025984 -0.156598 -0.031579  0.649826
c  2.154846 -0.610259 -0.755325 -0.346419
d  0.147027 -0.479448  0.558769  1.024810
e -0.925874  1.862864 -1.133817  0.610478

In [14]:
df['a']

a   -0.993263
b    1.025984
c    2.154846
d    0.147027
e   -0.925874
Name: a, dtype: float64

In [20]:
df[['a']]

          a
a -0.993263
b  1.025984
c  2.154846
d  0.147027
e -0.925874

In [19]:
df[['a','b']]

          a         b
a -0.993263  0.196800
b  1.025984 -0.156598
c  2.154846 -0.610259
d  0.147027 -0.479448
e -0.925874  1.862864

In [22]:
df.drop('a',axis=1)

          b         c         d
a  0.196800 -1.136645  0.000366
b -0.156598 -0.031579  0.649826
c -0.610259 -0.755325 -0.346419
d -0.479448  0.558769  1.024810
e  1.862864 -1.133817  0.610478

In [23]:
df.loc['a']

a   -0.993263
b    0.196800
c   -1.136645
d    0.000366
Name: a, dtype: float64

In [24]:
df.iloc[0]

a   -0.993263
b    0.196800
c   -1.136645
d    0.000366
Name: a, dtype: float64