# **Groupby**

                    SQL
i)**Data manipulation Language** \
           - (update,insert,alter,...) \
ii)**Data Defination Language** \
           - (select,create,...) \
iii)**Data control language** \
           - |(commit,rollback,grant,...) \

In [1]:
# Group by
import numpy as np
import pandas as pd

In [5]:
d=np.random.rand(3,3)

In [6]:
df=pd.DataFrame(d,columns=['A','B','C'])

In [7]:
df

          A         B         C
0  0.861741  0.030134  0.131248
1  0.839135  0.985906  0.202765
2  0.286303  0.823818  0.000174

In [20]:
A=df.groupby('C')

In [25]:
A

In [28]:
A.max()

                 A         B
C
0.000174  0.286303  0.823818
0.131248  0.861741  0.030134
0.202765  0.839135  0.985906

In [22]:
A.min()

                 A         B
C
0.000174  0.286303  0.823818
0.131248  0.861741  0.030134
0.202765  0.839135  0.985906

In [23]:
A.mean()

                 A         B
C
0.000174  0.286303  0.823818
0.131248  0.861741  0.030134
0.202765  0.839135  0.985906

In [29]:
A.describe()

             A                                                        \
         count      mean std       min       25%       50%       75%
C
0.000174   1.0  0.286303 NaN  0.286303  0.286303  0.286303  0.286303
0.131248   1.0  0.861741 NaN  0.861741  0.861741  0.861741  0.861741
0.202765   1.0  0.839135 NaN  0.839135  0.839135  0.839135  0.839135

                       B                                              \
               max count      mean std       min       25%       50%
C
0.000174  0.286303   1.0  0.823818 NaN  0.823818  0.823818  0.823818
0.131248  0.861741   1.0  0.030134 NaN  0.030134  0.030134  0.030134
0.202765  0.839135   1.0  0.985906 NaN  0.985906  0.985906  0.985906


               75%       max
C
0.000174  0.823818  0.823818
0.131248  0.030134  0.030134
0.202765  0.985906  0.985906